@charset "utf-8";
@viewport{width:device-width}
@font-face{font-display:auto;font-family:Lato;font-style:italic;font-weight:bold;src:url(fonts/LatoLatin-BoldItalic.woff2) format('woff2');text-rendering:optimizeLegibility}
@font-face{font-display:auto;font-family:Lato;font-style:italic;font-weight:normal;src:url(fonts/LatoLatin-Italic.woff2) format('woff2');text-rendering:optimizeLegibility}
@font-face{font-display:auto;font-family:Lato;font-style:normal;font-weight:bold;src:url(fonts/LatoLatin-Bold.woff2) format('woff2');text-rendering:optimizeLegibility}
@font-face{font-display:auto;font-family:Lato;font-style:normal;font-weight:normal;src:url(fonts/LatoLatin-Regular.woff2) format('woff2');text-rendering:optimizeLegibility}
@font-face{font-display:auto;font-family:Hack;font-style:italic;font-weight:bold;src:url(fonts/hack-bolditalic.woff2) format('woff2');text-rendering:optimizeLegibility}
@font-face{font-display:auto;font-family:Hack;font-style:italic;font-weight:normal;src:url(fonts/hack-italic.woff2) format('woff2');text-rendering:optimizeLegibility}
@font-face{font-display:auto;font-family:Hack;font-style:normal;font-weight:bold;src:url(fonts/hack-bold.woff2) format('woff2');text-rendering:optimizeLegibility}
@font-face{font-display:auto;font-family:Hack;font-style:normal;font-weight:normal;src:url(fonts/hack-regular.woff2) format('woff2');text-rendering:optimizeLegibility}

*{
  margin:0;
  padding:0;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color:transparent}

*,*:after,*:before{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box}

:active,:focus{
  outline:none;
  -moz-outline-style:none}

:root{
  --primary:50,50,50;
  --secondary:65,170,105;
  --tertiary:240,240,240;
  --quaternary:120,120,120}

a{
  border-bottom:1px solid transparent;
  color:rgb(var(--secondary));
  text-decoration:none;
  transition:border-bottom .1s;
  -moz-transition:border-bottom .1s;
  -webkit-transition:border-bottom .1s}

a:hover{
  border-bottom-color:rgb(var(--secondary))}

body{
  background-color:rgb(var(--tertiary));
  color:rgb(var(--primary));
  font:18px Lato,sans-serif;
  min-height:240px;
  min-width:320px;
  position:relative;
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none}

header{
  background-color:rgb(var(--tertiary));
  line-height:50px;
  position:absolute;
  width:100%;
  z-index:1}

h1{
  font-size:22px;
  letter-spacing:2px;
  margin-left:30px;
  text-transform:uppercase}

h1:after{
  animation:blink-dot .5s infinite;
  -moz-animation:blink-dot .5s infinite;
  -webkit-animation:blink-dot .5s infinite;
  background-color:rgb(var(--secondary));
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  content:'';
  display:inline-block;
  height:5px;
  width:5px}

@keyframes blink-dot{
  from,to{background-color:transparent}
  50%{background-color:rgb(var(--secondary))}}

@-moz-keyframes blink-dot{
  from,to{background-color:transparent}
  50%{background-color:rgb(var(--secondary))}}

@-webkit-keyframes blink-dot{
  from,to{background-color:transparent}
  50%{background-color:rgb(var(--secondary))}}

nav a{
  border-bottom:none;
  height:30px;
  position:absolute;
  right:30px;
  top:10px;
  width:30px;
  z-index:1}

#portfolio:target~header a+a{
  display:none}

nav span{
  animation:blink-dot .5s 1s 3;
  -moz-animation:blink-dot .5s 1s 3;
  -webkit-animation:blink-dot .5s 1s 3;
  border:2px solid rgb(var(--secondary));
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  height:30px;
  position:absolute;
  right:30px;
  top:10px;
  transition:opacity .3s,transform .3s;
  -moz-transition:opacity .3s,-moz-transform .3s;
  -webkit-transition:opacity .3s,-webkit-transform .3s;
  width:30px}

nav span:before{
  border:solid rgb(var(--secondary));
  border-width:0 2px 2px 0;
  content:'';
  height:10px;
  left:8px;
  position:absolute;
  top:6px;
  transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  width:10px}

#portfolio:target~header span{
  transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg)}

nav a:hover~span,aside ul+div label:hover{
  opacity:.5}

html,body{
  overflow:hidden}

html,body,aside,section{
  height:100%}

section{
  background-color:rgb(var(--tertiary));
  padding-top:10px;
  transition:transform .3s;
  -moz-transition:-moz-transform .3s;
  -webkit-transition:-webkit-transform .3s}

#portfolio:target~section{
  transform:translateY(-100%);
  -moz-transform:translateY(-100%);
  -webkit-transform:translateY(-100%)}

aside{
  align-items:center;
  display:flex;
  justify-content:center}

aside>div{
  display:flex;
  flex-flow:wrap;
  max-height:100%;
  padding:50px 30px}

aside>div>div:first-child{
  background-color:rgb(var(--primary));
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow:1px 1px 3px rgba(var(--primary),.5);
  -moz-box-shadow:1px 1px 3px rgba(var(--primary),.5);
  -webkit-box-shadow:1px 1px 3px rgba(var(--primary),.5);
  height:60px;
  margin-right:30px;
  position:relative;
  width:60px}

aside>div>div:first-child:before{
  color:rgb(var(--tertiary));
  content:'>_';
  font:30px Hack;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%)}

aside p{
  line-height:30px}

aside p+p{
  float:left}

aside ul{
  height:30px;
  line-height:30px;
  list-style:none;
  padding-left:4px;
  overflow:hidden}

aside li:first-child{
  animation:move 5s 1s infinite;
  -moz-animation:move 5s 1s infinite;
  -webkit-animation:move 5s 1s infinite}

@keyframes move{
  20%{margin-top:-30px}
  40%{margin-top:-60px}
  60%{margin-top:-90px}
  80%{margin-top:-120px}}

@-moz-keyframes move{
  20%{margin-top:-30px}
  40%{margin-top:-60px}
  60%{margin-top:-90px}
  80%{margin-top:-120px}}

@-webkit-keyframes move{
  20%{margin-top:-30px}
  40%{margin-top:-60px}
  60%{margin-top:-90px}
  80%{margin-top:-120px}}

input{
  display:none}

aside ul+div{
  margin-top:30px;
  text-align:center}

aside ul+div label{
  border:2px solid rgb(var(--secondary));
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  cursor:pointer;
  display:inline-block;
  height:30px;
  transition:opacity .3s;
  -moz-transition:opacity .3s;
  -webkit-transition:opacity .3s;
  width:30px}

aside ul+div label+label{
  margin-left:10px}

aside ul+div label:first-child:after,aside ul+div label:first-child:before{
  border:8px solid rgb(var(--secondary));
  border-bottom-width:5px;
  border-top:4px solid transparent;
  content:'';
  margin-left:-8px;
  margin-top:9px;
  position:absolute}

aside ul+div label:first-child:before{
  border-color:transparent;
  border-top-color:rgb(var(--secondary));
  margin-top:8px}

aside ul+div label+label:before{
  border:4px solid rgb(var(--secondary));
  border-right:none;
  border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-left-radius:5px;
  content:'';
  height:16px;
  margin-left:-3px;
  margin-top:5px;
  position:absolute;
  transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  width:6px}

aside ul~div:not(:first-of-type){
  background-color:rgb(var(--tertiary));
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow:1px 1px 3px rgba(var(--primary),.3);
  -moz-box-shadow:1px 1px 3px rgba(var(--primary),.3);
  -webkit-box-shadow:1px 1px 3px rgba(var(--primary),.3);
  left:90px;
  line-height:50px;
  margin:auto;
  margin-top:-44px;
  opacity:0;
  position:absolute;
  right:0;
  text-indent:10px;
  transform:scale(.7);
  -moz-transform:scale(.7);
  -webkit-transform:scale(.7);
  transition:opacity .3s,transform .3s,visibility .3s;
  -moz-transition:opacity .3s,-moz-transform .3s,visibility .3s;
  -webkit-transition:opacity .3s,-webkit-transform .3s,visibility .3s;
  visibility:hidden;
  width:300px}

[id=email]:checked~aside ul~div:nth-of-type(2),[id=phone]:checked~aside ul~div:last-child{
  opacity:1;
  transform:scale(1);
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  visibility:visible}

aside ul~div:not(:first-of-type) label{
  border:2px solid rgb(var(--secondary));
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  cursor:pointer;
  height:30px;
  position:absolute;
  right:10px;
  top:10px;
  transition:transform .3s;
  -moz-transition:-moz-transform .3s;
  -webkit-transition:-webkit-transform .3s;
  width:30px}

aside ul~div:not(:first-of-type) label:after,aside ul~div:not(:first-of-type) label:before{
  background-color:rgb(var(--secondary));
  content:'';
  height:2px;
  left:5px;
  position:absolute;
  top:12px;
  transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  width:16px}

aside ul~div:not(:first-of-type) label:before{
  transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg)}

aside ul~div:not(:first-of-type) label:hover{
  transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg)}

section>div{
  overflow:auto;
  height:100%;
  padding-bottom:10px}

article{
  margin:auto;
  max-width:1024px;
  padding:50px 50px 0;
  text-align:center}

article p{
  line-height:30px}

article:nth-child(2) a{
  background-color:rgb(var(--primary));
  border-bottom:none;
  border-top-left-radius:5px;
  -moz-border-radius-topleft:5px;
  -webkit-border-top-left-radius:5px;
  border-top-right-radius:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-right-radius:5px;
  box-shadow:1px 1px 3px rgba(var(--primary),.5);
  -moz-box-shadow:1px 1px 3px rgba(var(--primary),.5);
  -webkit-box-shadow:1px 1px 3px rgba(var(--primary),.5);
  counter-reset:line;
  display:block;
  height:141px;
  margin:auto;
  margin-top:10px;
  overflow:hidden;
  text-align:left;
  width:250px}

article:nth-child(2) span:first-child{
  background-color:rgb(var(--primary));
  color:rgb(var(--quaternary));
  display:block;
  font-size:16px;
  line-height:21px;
  position:relative;
  white-space:pre;
  z-index:1}

article:nth-child(2) span:nth-child(n+2){
  display:block;
  font:16px Hack;
  line-height:30px;
  transition:color .3s,transform .3s;
  -moz-transition:color .3s,-moz-transform .3s;
  -webkit-transition:color .3s,-webkit-transform .3s;
  white-space:pre}

article:nth-child(2) span:nth-child(n+2):before{
  color:rgb(var(--quaternary));
  content:' ' counter(line) '  ';
  counter-increment:line}

article:nth-child(2) a:hover span:nth-child(n+2){
  color:rgb(var(--quaternary));
  transform:translateY(-60px);
  -moz-transform:translateY(-60px);
  -webkit-transform:translateY(-60px)}

article:last-child ul{
  line-height:45px;
  list-style:none}

article:last-child span{
  background-color:rgb(var(--secondary));
  box-shadow:1px 1px 3px rgba(var(--primary),.3);
  -moz-box-shadow:1px 1px 3px rgba(var(--primary),.3);
  -webkit-box-shadow:1px 1px 3px rgba(var(--primary),.3);
  padding:10px}

article:last-child a{
  color:rgb(var(--tertiary));
  font-weight:bold}

article:last-child a:hover{
  border-bottom-color:rgb(var(--tertiary))}

article:last-child li:first-of-type a:after{
  animation:blink-caret 1s infinite;
  -moz-animation:blink-caret 1s infinite;
  -webkit-animation:blink-caret 1s infinite;
  content:'|'}

@keyframes blink-caret{
  0%{opacity:0}
  40%{opacity:0}
  50%{opacity:1}
  90%{opacity:1}
  100%{opacity:0}}

@-moz-keyframes blink-caret{
  0%{opacity:0}
  40%{opacity:0}
  50%{opacity:1}
  90%{opacity:1}
  100%{opacity:0}}

@-webkit-keyframes blink-caret{
  0%{opacity:0}
  40%{opacity:0}
  50%{opacity:1}
  90%{opacity:1}
  100%{opacity:0}}

footer{
  animation:snackbar 5s forwards;
  -moz-animation:snackbar 5s forwards;
  -webkit-animation:snackbar 5s forwards;
  background-color:rgb(var(--tertiary));
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow:1px 1px 3px rgba(var(--primary),.3);
  -moz-box-shadow:1px 1px 3px rgba(var(--primary),.3);
  -webkit-box-shadow:1px 1px 3px rgba(var(--primary),.3);
  font-size:10px;
  font-weight:bold;
  left:50%;
  line-height:30px;
  position:absolute;
  transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
  text-align:center;
  text-transform:uppercase;
  width:300px}

@keyframes snackbar{
  10%{bottom:-35px}
  20%{bottom:5px}
  90%{bottom:5px}
  100%{bottom:-35px}}

@-moz-keyframes snackbar{
  10%{bottom:-35px}
  20%{bottom:5px}
  90%{bottom:5px}
  100%{bottom:-35px}}

@-webkit-keyframes snackbar{
  10%{bottom:-35px}
  20%{bottom:5px}
  90%{bottom:5px}
  100%{bottom:-35px}}

footer+div{
  animation:loader 1s .5s forwards;
  -moz-animation:loader 1s .5s forwards;
  -webkit-animation:loader 1s .5s forwards;
  background-color:rgb(var(--tertiary));
  height:100%;
  position:absolute;
  top:0;
  width:100%;
  z-index:1}

@keyframes loader{
  to{
    opacity:0;
    visibility:hidden}}

@-moz-keyframes loader{
  to{
    opacity:0;
    visibility:hidden}}

@-webkit-keyframes loader{
  to{
    opacity:0;
    visibility:hidden}}

footer+div div{
  animation:stretch 1.4s 2;
  -moz-animation:stretch 1.4s 2;
  -webkit-animation:stretch 1.4s 2;
  background-color:rgb(var(--primary));
  float:left;
  height:50px;
  left:calc(50% - 27px);
  margin-left:4px;
  position:relative;
  top:calc(50% - 25px);
  width:6px}

footer+div div:nth-child(2){
  animation-delay:-1.3s;
  -moz-animation-delay:-1.3s;
  -webkit-animation-delay:-1.3s}

footer+div div:nth-child(3){
  animation-delay:-1.2s;
  -moz-animation-delay:-1.2s;
  -webkit-animation-delay:-1.2s}

footer+div div:nth-child(4){
  animation-delay:-1.1s;
  -moz-animation-delay:-1.1s;
  -webkit-animation-delay:-1.1s}

footer+div div:last-child{
  animation-delay:-1s;
  -moz-animation-delay:-1s;
  -webkit-animation-delay:-1s}

@keyframes stretch{
  0%,40%,100%{transform:scaleY(.5)}
  20%{transform:scaleY(1)}}

@-moz-keyframes stretch{
  0%,40%,100%{-moz-transform:scaleY(.5)}
  20%{-moz-transform:scaleY(1)}}

@-webkit-keyframes stretch{
  0%,40%,100%{-webkit-transform:scaleY(.5)}
  20%{-webkit-transform:scaleY(1)}}

@media screen and (max-width:720px){
  body{
    font-size:16px}

  h1{
    margin-left:10px}

  nav a,nav span{
    right:10px}

  aside>div{
    display:block;
    flex-flow:row;
    padding:50px 5px}

  aside>div>div:first-child{
    margin:auto;
    margin-bottom:30px}

  aside p{
    line-height:25px}

  aside p+p{
    float:none}

  aside p,aside ul{
    text-align:center}

  aside ul{
    padding-left:0}

  aside ul~div:not(:first-of-type){
    left:0}

  article{
    padding:50px 10px 0}}
