<div style="color:rgb(50,50,50);font:18px verdana,sans-serif;margin:auto;max-width:640px;padding:0 10px;text-align:center">
  <h1 style="font-size:22px">PIOTR MIROS<span style="background-color:rgb(65,170,105);border-radius:50%;display:inline-block;height:5px;width:5px"></span></h1>
  <p style="line-height:30px;margin-top:50px">Nazywam się Piotr Miros. Od wielu lat jestem związany z&nbsp;branżą IT. Oferuję zakres usług: wdrażanie automatyki, administrowanie serwerami, tworzenie aplikacji, naprawianie urządzeń, przygotowywanie grafiki.</p>
  <p style="line-height:30px;margin-top:50px">Zapraszam do odwiedzenia mojej strony internetowej:</p>
  <a href="https://empio.gitlab.io/portfolio">
    <img alt="" height="141" src="https://empio.gitlab.io/portfolio/email/click.png" width="250" />
  </a>
  <div style="line-height:30px;margin-top:50px">
    <p><a href="mailto:piotrmiros@tutanota.com" style="background-color:rgb(65,170,105);color:rgb(240,240,240);font-weight:bold;padding:10px">piotrmiros@tutanota.com</a></p>
    <p><a href="tel:+48530131375" style="background-color:rgb(65,170,105);color:rgb(240,240,240);font-weight:bold;padding:10px">+48 530 131 375</a></p>
  </div>
  <p style="border:1px solid rgb(220,220,220);border-radius:3px;font-size:8px;font-weight:bold;line-height:30px;margin:auto;margin-top:50px;width:300px">&copy; 2019 PIOTR MIROS · WSZELKIE PRAWA ZASTRZEŻONE</p>
</div>
